﻿@model List<MessageModel>

@{
    ViewBag.Title = "Accueil";
    Layout = "~/Views/Shared/ConnectedLayout.cshtml";
}


<div class="container-fluid mt-3">
    <div class="row justify-content-around">
        <div class="col-12 col-md-8 p-0">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="container-fluid p-0 card">
                        <div class="card-body">
                            @{Html.BeginForm("PostMessage", "User", FormMethod.Post, new { id = "message-form" });}
                            <div class="row px-3 mb-3">
                                <textarea name="message" id="message-content" class="form-control" rows="3" placeholder="Quoi de neuf ?" maxlength="300" required></textarea>
                            </div>
                            <div class="row justify-content-around px-3">
                                <input type="file" id="message-image" accept="image/*" hidden />
                                <label for="message-image" id="message-image-label" class="col-12 col-md-5 btn btn-outline-secondary mb-md-0 mb-2">Ajouter une image</label>

                                <button type="submit" class="col-12 col-md-5 btn btn-outline-secondary">Poster</button>
                            </div>
                            @{Html.EndForm();}
                        </div>
                    </div>
                </div>
            </div>

            <div id="messages">
                @foreach (var message in Model)
                {
                    Html.RenderPartial("_Message", message);
                }
            </div>

        </div>
    </div>
</div>

@section scripts {
<script type="text/javascript">
    const form = $('#message-form');
    form.submit((e) => {
        e.preventDefault();
        var data = new FormData();
        data.append("message", $("#message-content").val());

        const files = $("#message-image")[0].files;
        if (files.length > 0) {
            data.append("file", files[0]);
        }

        $.ajax({
            url: form.attr('action'),
            method: form.attr('method'),
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            success: (message) => {
                $('textarea').val('');
                $('#message-image-label').text('Ajouter une image');
                $('#messages-count').text(parseInt($('#messages-count').text()) + 1);

                $('#messages').prepend(message);

                $(".message").first().hide();
                $(".message").first().animate({
                    height: "toggle"
                }, 300);
            }
        });

        return false;
    });

    $('#message-image').on('change', (e) => {
        const files = e.target.files;

        if (files.length > 0) {
            $('#message-image-label').text(files[0].name);
        }
    });

    $(document).on('click', '.btn-delete', function() {
        $.ajax({
            url: "@Url.Action("DeleteMessage", "User")",
            method: 'post',
            data: { id: $(this).attr('id') },
            success: () => {
                $(this).parents(".message").animate({
                    height: "toggle",
                    done: () => $(this).parents(".message").remove()
                }, 300);
            }
        });
    });
</script>
}