﻿@model MessageModel

<div class="message row mb-2">
    <div class="col-12">
        <div class="container-fluid p-0 card">
            <div class="card-body px-3">
                <div class="row">
                    <div class="col">
                        <div class="row mb-2">
                            <div class="col">
                                <a href="@Url.Action("GetProfile", "User", new { u = Model.Author.Username })">
                                    <img class="mr-1 avatar" src="~/Content/Images/Users/@Model.Author.Avatar" width="30" height="30" />
                                </a>
                                @Html.RouteLink((string)@Model.Author.Username, "GetProfile", new { u = @Model.Author.Username })
                                <small class="text-muted" style="color:gray!important">(@Model.Author.FirstName @Model.Author.LastName, le @Model.Date.ToString("dd MMMM yyyy à hh:mm:ss"))</small>

                                @if (User.Identity.Name == Model.Author.Id.ToString())
                                {
                                    <button id="@Model.Id" class="btn btn-delete btn-outline-danger p-0" style="float:right;">
                                        <i class="material-icons align-middle" style="font-size:26px">close</i>
                                    </button>
                                }

                            </div>
                        </div>
                        <div class="row">
                            @if (!string.IsNullOrEmpty(@Model.Image))
                            {
                                <div class="col-12 col-md-4 m-auto message-image">
                                    <a href="~/Content/Images/Messages/@Model.Image" target="_blank"><img src="~/Content/Images/Messages/@Model.Image" class="img-fluid rounded mx-auto d-block" /></a>
                                </div>
                                <div class="col-12 col-md-8">
                                    <blockquote class="text-muted text-justify my-2">@Model.Content</blockquote>
                                </div>
                            }
                            else
                            {
                                <div class="col">
                                    <blockquote class="text-muted text-justify my-2">@Model.Content</blockquote>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>