﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>

<body>
    <div class="d-flex h-100 mx-auto flex-column">
        <header class="mb-3 text-light">
            <div class="inner mx-auto w-75">
                <nav class="navbar navbar-expand-md navbar-dark row justify-content-between py-2">
                    <div class="col-12 col-md-6">
                        <div class="row justify-content-between">
                            <div class="col-2 my-auto">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </div>

                            <div class="col-8 d-block d-md-none my-auto">
                                @{Html.BeginForm("GetUsers", "User", FormMethod.Get);}
                                <div class="input-group">
                                    <input type="text" name="search" class="nav-item form-control" placeholder="Votre recherche">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary py-0" type="submit">
                                            <i class="material-icons" style="line-height: 1.5">search</i>
                                        </button>
                                    </div>
                                </div>
                                @{Html.EndForm();}
                            </div>
                        </div>
                        
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav row no-gutters text-center w-100">
                                <a class="nav-item nav-link text-light col" href="@Url.Action("Index", "Home")">
                                    <i class="material-icons align-middle" style="font-size:23px">home</i>
                                    <span class="align-middle">Accueil</span>
                                </a>
                                <a class="nav-item nav-link text-light col" href="@Url.Action("GetUsers", "User")">
                                    <i class="material-icons align-middle" style="font-size:23px">people</i>
                                    <span class="align-middle">Utilisateurs</span>
                                </a>
                                <a class="nav-item nav-link text-light col d-block d-md-none" href="@Url.Action("MyProfile", "User")">
                                    <i class="material-icons align-middle" style="font-size:23px">person</i>
                                    <span class="align-middle">Mon profil</span>
                                </a>
                                <a class="nav-item nav-link text-light col d-block d-md-none" href="@Url.Action("Logout", "Login")">
                                    <i class="material-icons align-middle" style="font-size:23px">exit_to_app</i>
                                    <span class="align-middle">Se déconnecter</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-none d-md-block p-0">
                        <div class="row justify-content-end">
                            <div class="col-md-9">
                                @{Html.BeginForm("GetUsers", "User", FormMethod.Get);}
                                <div class="input-group">
                                    <input type="text" name="search" class="nav-item form-control" placeholder="Votre recherche">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary py-0" type="submit">
                                            <i class="material-icons" style="line-height: 1.5">search</i>
                                        </button>
                                    </div>
                                </div>
                                @{Html.EndForm();}
                            </div>
                            
                            <div class="col-2">
                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="~/Content/Images/Users/no_profile_image.png" width="40" height="40" class="ml-auto avatar my-profile"/>
                                </a>
                                <div class="dropdown-menu text-center text-dark">
                                    @Html.ActionLink("Mon profil", "MyProfile", "User", null, new { @class = "dropdown-item text-dark" })
                                    <div class="dropdown-divider"></div>
                                    @Html.ActionLink("Se déconnecter", "Logout", "Login", null, new { @class = "dropdown-item text-dark" })

                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <main role="main" class="w-75 mx-auto">
            @RenderBody()
        </main>

        <footer class="mt-auto mx-auto text-center w-75">
            <hr />
            <p>&copy; @DateTime.Now.Year - Romuald Leroux</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>