﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Erreur</title>
</head>
<body>
    <div class="text-center">
        <h1 style="font-size:50px"><strong>Erreur</strong></h1>
        <h2 class="mb-5">Une erreur s'est produite lors du traitement de votre demande.</h2>
        @Html.ActionLink("Retour à la page d'accueil", "Index", "Home", null, new { @class = "btn btn-secondary" })
    </div>

</body>
</html>
