﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Erreur</title>
</head>
<body>

    <div class="text-center">
        <h1 class="mb-5" style="font-size: 150px"><strong>404</strong></h1>
        @Html.ActionLink("Retour à la page d'accueil", "Index", "Home", null, new { @class= "btn btn-secondary" })
    </div>
</body>
</html>
