﻿@model LoginModel
@using M2Link.Helpers

@{
    ViewBag.Title = "Connexion";
}

<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 p-0 text-custom">
            <div class="container-fluid p-0 card section" >
                <div class="card-header text-center">
                    <h3 class="mb-0">Connexion</h3>
                </div>

                <div class="card-body px-3">
                    @{Html.BeginForm(null, null, FormMethod.Post);}

                    <div class="form-row">
                        <div class="form-group col">
                            @Html.LabelFor(m => m.Username, new { @class = "sr-only" })
                            @Html.IconTextBoxFor(m => m.Username, "person", new { @class = "form-control", placeholder = "Votre pseudo", maxlength = 30})
                            <small class="form-text">@Html.ValidationMessageFor(m => m.Username)</small>
                        </div>
                    </div>

                    <div class="form-row mb-2">
                        <div class="form-group col">
                            @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
                            @Html.IconTextBoxFor(m => m.Password, "vpn_key", new { @class = "form-control", placeholder = "Votre mot de passe", type = "password", maxlength = 30})
                            <small class="form-text">@Html.ValidationMessageFor(m => m.Password)</small>
                        </div>
                    </div>

                    <div class="form-row justify-content-center mb-3">
                        <input class="col-12 col-md-5 py-2 btn btn-secondary" type="submit" value="Se connecter" />
                    </div>

                    <div class="row justify-content-center text-center">
                        <div class="col-12">
                            <a href="#">Mot de passe oublié ?</a>
                        </div>
                    </div>
                    @{Html.EndForm();}
                </div>
            </div>

            <div class="container-fluid p-0 card mt-4 section">
                <div class="card-body px-3">
                    <div class="row justify-content-center text-center">
                        <span class="col">Vous n'avez pas de compte ? @Html.ActionLink("Inscrivez-vous", "Form", "Register")</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
