﻿:root {
    --main-bg-color: #dad9dd;
    --header-bg-color: #303037;
    --card-bg-color: #f4f3f6;
}

html, body {
    height: 100%;
    background-color: var(--main-bg-color);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

header {
    background-color: var(--header-bg-color);
}

.nav-link {
    border-bottom: 3px solid transparent;
    transition: color 0.3s ease 0s;
}

.nav-link a {
    color: #ddd !important;
    transition: color 0.3s ease 0s;
}

p {
    color: var(--header-bg-color);
}
footer hr {
    background-color: var(--header-bg-color);
}

.card {
    background-color: var(--card-bg-color);
    border: 1px solid #a1a1a1;
    color: #252422;
}

.card-header * {
    font-size: 25px;
    font-weight: 600;
    color: #777;
}

.input-group-text {
    background-color: #ddd;
    border: 1px solid #999 !important;
}

.form-control {
    background-color: #fffcf5;
    border: 1px solid #9b9b9b;
    border-radius: 4px;
    color: var(--header-bg-color);
    font-size: 14px;
    transition: background-color 0.3s ease 0s;
    padding: 7px 18px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    background-color: #fff;
    border: 1px solid #9b9b9b;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
}

label {
    margin-bottom: 5px;
    color: #9b9b9b;
    font-family: 'Muli', Arial, sans-serif;
}

.field-validation-error {
    color: #CD5C5C;
}

a {
    color: #5a85a4;
}

a:hover, a:focus {
    color: #5a85a4;
    text-decoration: none;
}

.profile-picture {
    position: relative;
    width: 200px;
    height: 200px;
}

.profile-picture:hover img {
    filter: brightness(0.4);
    -webkit-filter: brightness(0.4);
}

.profile-picture:hover .middle {
    opacity: 1;
}

.middle {
    opacity: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: .5s ease;
}

.profile-picture i {
    font-size: 70px;
    color: lightgray;
    cursor: pointer;
}

.profile-picture img {
    transition: .5s ease;
    backface-visibility: hidden;
}

.avatar {
    border-radius: 100px;
}

.my-profile {
    transition: .5s ease;
    backface-visibility: hidden;
}

.my-profile:hover {
    cursor: pointer;
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
}

.message-image {
    max-height: 150px;
    max-width: 150px;
}