﻿@model List<UserModel>

@{
    ViewBag.Title = "Utilisateurs";
    Layout = "~/Views/Shared/ConnectedLayout.cshtml";
}

@if (Model.Count == 0)
{
<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 p-0">
            <div class="container-fluid p-0 card">
                <div class="card-header px-3">
                    <p style="font-size: 16px" class="text-center my-auto">Aucun résultat</p>
                </div>
            </div>
        </div>
    </div>
</div>
}
else
{
    <div class="container-fluid mt-3">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 p-0">
                <div class="container-fluid p-0 card">
                    <div class="card-header px-3">
                        <p style="font-size: 16px" class="text-center my-auto">@Model.Count résultat(s) trouvé(s)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    foreach (var user in Model)
    {
        <div class="container-fluid mt-3">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 p-0">
                    <div class="container-fluid p-0 card">
                        <div class="card-body px-3 text-center text-md-left">
                            <div class="row">
                                <div class="col-12 col-md-1 m-auto">
                                    <a href="@Url.Action("GetProfile", "User", new { u = user.Username })">
                                        <img src="~/Content/Images/Users/@user.Avatar" width="50" height="50" style="border-radius:100px;" />
                                    </a>
                                </div>
                                <div class="col-12 col-md-3 m-auto">
                                    <div class="row">
                                        <div class="col-8 m-auto">
                                            @Html.ActionLink((string)@user.Username, "GetProfile", "User", new { u = user.Username }, null)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-8 m-auto">
                                            <small class="text-muted">@user.FirstName @user.LastName</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 m-auto text-muted">@user.Description</div>
                                <div class="col-12 col-md-2 m-auto">
                                    @if (User.Identity.Name == user.Id.ToString())
                                    {
                                        <button id="@user.Username" class="w-100 btn btn-unfollow btn-outline-secondary" disabled>Vous</button>
                                    }
                                    else if (user.Followers.Any(u => u.Id.ToString() == User.Identity.Name))
                                    {

                                        <button id="@user.Username" class="w-100 btn btn-unfollow btn-outline-danger">Ne plus suivre</button>
                                    }
                                    else
                                    {
                                        <button id="@user.Username" class="w-100 btn btn-follow btn-outline-success">Suivre</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

@section scripts {
<script type="text/javascript">
    $(document).on('click', '.btn-follow', function() {
        const button = $(this);

        $.ajax({
            url: "@Url.Action("Follow", "User")",
            type: "POST",
            data: { username: button.attr('id') },
            cache: false,
            success: () => {
                button.removeClass("btn-follow btn-outline-success");
                button.addClass("btn-unfollow btn-outline-danger");
                button.text('Ne plus suivre');
            }
        });

        button.blur();
    });

    $(document).on('click', '.btn-unfollow', function() {
        const button = $(this);

        $.ajax({
            url: "@Url.Action("Unfollow", "User")",
            type: "POST",
            data: { username: button.attr('id') },
            cache: false,
            success: () => {
                button.removeClass("btn-unfollow btn-outline-danger");
                button.addClass("btn-follow btn-outline-success");
                button.text('Suivre');
            }
        });

        button.blur();
    });
</script>
}