﻿@model RegisterModel
@using M2Link.Helpers

@{
    ViewBag.Title = "Inscription";
}

<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 p-0">
            <div class="container-fluid p-0 card">
                <div class="card-header text-center mb-0">
                    <h3 class="mb-0">Inscription</h3>
                </div>

                <div class="card-body px-3">
                    @{Html.BeginForm(null, null, FormMethod.Post);}

                    <div class="form-row mb-2">
                        <div class="col">
                            @Html.LabelFor(m => m.FirstName, new { @class = "sr-only" })
                            @Html.IconTextBoxFor(m => m.FirstName, "info", new { @class = "form-control", placeholder = "Votre prénom", maxlength = 30 })
                            <small class="form-text">@Html.ValidationMessageFor(m => m.FirstName)</small>
                        </div>
                    </div>

                    <div class="form-row mb-2">
                        <div class="col">
                            @Html.LabelFor(m => m.LastName, new { @class = "sr-only" })
                            @Html.IconTextBoxFor(m => m.LastName, "info", new { @class = "form-control", placeholder = "Votre nom", maxlength = 30 })
                            <small class="form-text">@Html.ValidationMessageFor(m => m.LastName)</small>
                        </div>
                    </div>

                    <div class="form-row mb-2">
                        <div class="col">
                            @Html.LabelFor(m => m.Mail, new { @class = "sr-only" })
                            @Html.IconTextBoxFor(m => m.Mail, "email", new { @class = "form-control", placeholder = "Votre adresse email", maxlength = 100 })
                            <small class="form-text">@Html.ValidationMessageFor(m => m.Mail)</small>
                        </div>
                    </div>

                    <div class="form-row mb-2">
                        <div class="col">
                            @Html.LabelFor(m => m.Username, new { @class = "sr-only" })
                            @Html.IconTextBoxFor(m => m.Username, "person", new { @class = "form-control", placeholder = "Votre pseudo", maxlength = 30 })
                            <small class="form-text">@Html.ValidationMessageFor(m => m.Username)</small>
                        </div>
                    </div>

                    <div class="form-row mb-2">
                        <div class="col">
                            @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
                            @Html.IconTextBoxFor(m => m.Password, "vpn_key", new { @class = "form-control", placeholder = "Votre mot de passe", type = "password", maxlength = 30 })
                            <small class="form-text">@Html.ValidationMessageFor(m => m.Password)</small>
                        </div>
                    </div>

                    <div class="form-row mb-2">
                        <div class="col">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "sr-only" })
                            @Html.IconTextBoxFor(m => m.ConfirmPassword, "vpn_key", new { @class = "form-control", placeholder = "Confirmez votre mot de passe", type = "password", maxlength = 30 })
                            <small class="form-text">@Html.ValidationMessageFor(m => m.ConfirmPassword)</small>
                        </div>
                    </div>

                    <div class="form-row justify-content-center">
                        <input class="col-12 col-md-5 py-2 btn btn-secondary" type="submit" value="S'inscrire" />
                    </div>

                    @{Html.EndForm();}
                </div>
            </div>

            <div class="container-fluid p-0 card mt-4">
                <div class="card-body px-3">
                    <div class="row justify-content-center text-center">
                        <span class="col">Déjà inscrit ? @Html.ActionLink("Connectez-vous", "Form", "Login")</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>