﻿@model EditProfileModel

@{
    ViewBag.Title = "Modification du profil";
    Layout = "~/Views/Shared/ConnectedLayout.cshtml";
}

<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-9 p-0">
            <div class="container-fluid p-0 card">
                <div class="card-header text-center mb-0">
                    <h3 class="mb-0">Modification du profil</h3>
                </div>
                <div class="card-body px-3">
                    @{Html.BeginForm("EditProfile", "User", FormMethod.Post);}
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Username)
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Votre pseudo", maxlength = 30 })
                                <small class="form-text">@Html.ValidationMessageFor(m => m.Username)</small>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Mail)
                                @Html.TextBoxFor(m => m.Mail, new { @class = "form-control", placeholder = "Votre adresse email", maxlength = 100 })
                                <small class="form-text">@Html.ValidationMessageFor(m => m.Mail)</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.FirstName)
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Votre prénom", maxlength = 30 })
                                <small class="form-text">@Html.ValidationMessageFor(m => m.FirstName)</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.LastName)
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Votre nom", maxlength = 30 })
                                <small class="form-text">@Html.ValidationMessageFor(m => m.LastName)</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Description)
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Votre description", maxlength = 150 })
                                <small class="form-text">@Html.ValidationMessageFor(m => m.Description)</small>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.OldPassword)
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Votre ancien mot de passe", maxlength = 30 })
                                <small class="form-text">@Html.ValidationMessageFor(m => m.OldPassword)</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Votre nouveau mot de passe", maxlength = 30 })
                                <small class="form-text">@Html.ValidationMessageFor(m => m.Password)</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword)
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirmez votre ancien mot de passe", maxlength = 30 })
                                <small class="form-text">@Html.ValidationMessageFor(m => m.ConfirmPassword)</small>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 text-center justify-content-around">
                        @Html.ActionLink("Annuler", "MyProfile", "User", null, new { @class = "col-9 col-md-4 mb-md-0 mb-2 btn btn-outline-danger" })
                        <button type="submit" class="col-9 col-md-4 btn btn-outline-success">Enregistrer les modifications</button>
                    </div>

                    @{Html.EndForm();}
                </div>
            </div>
        </div>
    </div>
</div>
