﻿@model M2Link.Shared.Models.UserModel

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName + " (" + Model.Username + ")";
    Layout = "~/Views/Shared/ConnectedLayout.cshtml";
}


<div class="container-fluid mt-3">
    <div class="row justify-content-around">
        <div class="col-12 col-md-4 p-0 mb-3">
            <div class="container-fluid p-0 card">
                <div class="card-body text-center">
                    <div class="row justify-content-center px-3">
                        <div class="profile-picture mb-2">
                            <img src="~/Content/Images/Users/@Model.Avatar" width="200" height="200" id="test" style="border-radius:100px;" />
                            <div class="middle">
                                <input type="file" name="avatar" id="avatar" accept="image/*" hidden />
                                <label for="avatar"><i class="material-icons">camera_alt</i></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h4 class="col" style="color: #403d39;font-weight:600">@Model.FirstName @Model.LastName</h4>
                    </div>

                    <div class="row">
                        <h6 class="col">@Html.RouteLink((string)Model.Username, "GetProfile", new { u = Model.Username })</h6>
                    </div>

                    <div class="row font-weight-light px-3">
                        <div class="col font-weight-light">
                            @Model.Description
                        </div>
                    </div>
                    <hr class="row px-3">
                    <div class="row">
                        <div class="col-4">
                            <h5><a href="@Url.Action("GetProfile", new { u = Model.Username })"><span id="messages-count">@Model.Messages.Count</span><br /><small>Messages</small></a></h5>
                        </div>
                        <div class="col-4">
                            <h5><a href="@Url.Action("GetProfileFollowings", new { u = Model.Username })"><span id="followings-count">@Model.Followings.Count</span><br /><small>Abonnements</small></a></h5>
                        </div>
                        <div class="col-4">
                            <h5><a href="@Url.Action("GetProfileFollowers", new { u = Model.Username })"><span id="followers-count">@Model.Followers.Count</span><br /><small>Abonnés</small></a></h5>
                        </div>
                    </div>
                    <hr class="row px-3" />
                    <div class="row justify-content-center px-3">
                        @if (User.Identity.Name == Model.Id.ToString())
                        {
                            @Html.RouteLink("Modifier le profil", "EditProfile", new { u = @Model.Username }, new { @class = "col-12 col-md-6 btn btn-secondary" })
                        }
                        else if (Model.Followers.Any(u => u.Id.ToString() == User.Identity.Name))
                        {
                            <button id="@Model.Username" class="col-12 col-md-6 btn btn-unfollow btn-outline-danger">Ne plus suivre</button>
                        }
                        else
                        {
                            <button id="@Model.Username" class="col-12 col-md-6 btn btn-follow btn-outline-success">Suivre</button>
                        }

                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-7 p-0">
            @if (Model.Followings.Count == 0)
            {
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="container-fluid p-0 card">
                            <div class="card-header px-3">
                                <p style="font-size: 16px" class="text-center my-auto">Aucun abonnements</p>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @foreach (var user in Model.Followings)
            {
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="container-fluid p-0 card">
                            <div class="card-body px-3 text-center text-md-left">
                                <div class="row">
                                    <div class="col-12 col-md-1 m-auto">
                                        <a href="@Url.Action("GetProfile", "User", new { u = user.Username })">
                                            <img src="~/Content/Images/Users/@user.Avatar" class="avatar" width="50" height="50" />
                                        </a>
                                    </div>
                                    <div class="col-12 col-md-4 m-auto">
                                        <div class="row">
                                            <div class="col-8 m-auto">
                                                @Html.ActionLink((string)user.Username, "GetProfile", "User", new { u = user.Username }, null)
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8 m-auto">
                                                <small class="text-muted">@user.FirstName @user.LastName</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-5 m-auto text-muted">@user.Description</div>
                                    <div class="col-12 col-md-2 m-auto">
                                        @if (User.Identity.Name == user.Id.ToString())
                                        {
                                            <button id="@user.Username" class="w-100 btn btn-unfollow btn-outline-secondary" disabled>Vous</button>
                                        }
                                        else if (ViewBag.AuthenticatedUser != null && ViewBag.AuthenticatedUser.Followings.Contains(user))
                                        {
                                            <button id="@user.Username" class="w-100 btn btn-unfollow btn-outline-danger">Ne plus suivre</button>
                                        }
                                        else
                                        {
                                            <button id="@user.Username" class="w-100 btn btn-follow btn-outline-success">Suivre</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        $('#avatar').on('change', (e) => {
            const files = e.target.files;

            if (files.length > 0) {
                const data = new FormData();
                data.append("file", files[0]);

                $.ajax({
                    url: "@Url.Action("EditAvatar", "User")",
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: data,
                    cache: false,
                    async: true,
                    success: function (res) {
                        console.log("/Content/Images/" + res.image);
                        $('#test').attr('src', "/Content/Images/" + res.image + "?timestamp=" + new Date().getTime());
                    }
                });
            }
        });

        $(document).on('click', '.btn-follow', function() {
        const button = $(this);

        $.ajax({
            url: "@Url.Action("Follow", "User")",
            type: "POST",
            data: { username: button.attr('id') },
            cache: false,
            success: () => {
                button.removeClass("btn-follow btn-outline-success");
                button.addClass("btn-unfollow btn-outline-danger");
                button.text('Ne plus suivre');

                if (@ViewBag.AuthenticatedUser != null && @ViewBag.AuthenticatedUser.Id.Equals(Model.Id)) {
                    $('#followers-count').text(parseInt($('#followers-count').text()) + 1);
                }
            }
         });

        button.blur();
    });

    $(document).on('click', '.btn-unfollow', function() {
        const button = $(this);

        $.ajax({
            url: "@Url.Action("Unfollow", "User")",
            type: "POST",
            data: { username: button.attr('id') },
            cache: false,
            success: () => {
                button.removeClass("btn-unfollow btn-outline-danger");
                button.addClass("btn-follow btn-outline-success");
                button.text('Suivre');

                if (@ViewBag.AuthenticatedUser != null && @ViewBag.AuthenticatedUser.Id.Equals(Model.Id)) {
                    $('#followers-count').text(parseInt($('#followers-count').text()) - 1);
                }
            }
        });

        button.blur();
    });
    </script>
}