﻿@model M2Link.Shared.Models.UserModel

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName + " (" + Model.Username + ")";
    Layout = "~/Views/Shared/ConnectedLayout.cshtml";
}


<div class="container-fluid mt-3">
    <div class="row justify-content-around">
        <div class="col-12 col-md-4 p-0 mb-3">
            <div class="container-fluid p-0 card">
                <div class="card-body text-center">
                    <div class="row justify-content-center px-3">
                        <div class="profile-picture mb-2">
                            <img src="~/Content/Images/Users/@Model.Avatar" class="avatar" width="200" height="200" id="avatar-image"/>

                            @if (User.Identity.Name == Model.Id.ToString())
                            {
                                <div class="middle">
                                    <input type="file" name="avatar" id="avatar-upload" accept="image/*" hidden />
                                    <label for="avatar-upload"><i class="material-icons">camera_alt</i></label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <h4 class="col" style="color: #403d39;font-weight:600">@Model.FirstName @Model.LastName</h4>
                    </div>

                    <div class="row">
                        <h6 class="col">@Html.RouteLink((string)@Model.Username, "GetProfile", new { u = @Model.Username })</h6>
                    </div>

                    <div class="row font-weight-light px-3">
                        <div class="col font-weight-light">
                            @Model.Description
                        </div>
                    </div>
                    <hr class="row px-3">
                    <div class="row">
                        <div class="col-4">
                            <h5><a href="@Url.Action("GetProfile", new { u = @Model.Username })"><span id="messages-count">@Model.Messages.Count</span><br /><small>Messages</small></a></h5>
                        </div>
                        <div class="col-4">
                            <h5><a href="@Url.Action("GetProfileFollowings", new { u = @Model.Username })"><span id="followings-count">@Model.Followings.Count</span><br /><small>Abonnements</small></a></h5>
                        </div>
                        <div class="col-4">
                            <h5><a href="@Url.Action("GetProfileFollowers", new { u = @Model.Username })"><span id="followers-count">@Model.Followers.Count</span><br /><small>Abonnés</small></a></h5>
                        </div>
                    </div>
                    <hr class="row px-3" />
                    <div class="row justify-content-center px-3">
                        @if (User.Identity.Name == Model.Id.ToString())
                        {
                            @Html.RouteLink("Modifier le profil", "EditProfile", new { u = @Model.Username }, new { @class = "col-12 col-md-6 btn btn-secondary" })
                        }
                        else if (Model.Followers.Any(u => u.Id.ToString() == User.Identity.Name))
                        {
                            <button class="col-12 col-md-6 btn btn-unfollow btn-outline-danger">Ne plus suivre</button>
                        }
                        else
                        {
                            <button class="col-12 col-md-6 btn btn-follow btn-outline-success">Suivre</button>
                        }

                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-7 p-0">
            @if (User.Identity.Name == Model.Id.ToString())
            {
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="container-fluid p-0 card">
                            <div class="card-body">
                                @{Html.BeginForm("PostMessage", "User", FormMethod.Post, new { @id = "message-form" });}
                                <div class="row px-3 mb-3">
                                    <textarea name="message" id="message-content" class="form-control" rows="3" placeholder="Quoi de neuf ?" maxlength="300" required></textarea>
                                </div>
                                <div class="row justify-content-around px-3">
                                    <input type="file" id="message-image" accept="image/*" hidden />
                                    <label for="message-image" id="message-image-label" class="col-12 col-md-5 btn btn-outline-secondary mb-md-0 mb-2">Ajouter une image</label>

                                    <button type="submit" class="col-12 col-md-5 btn btn-outline-secondary">Poster</button>
                                </div>
                                @{Html.EndForm();}
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div id="messages">
                @if (User.Identity.Name != Model.Id.ToString() && Model.Messages.Count == 0)
                {
                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="container-fluid p-0 card">
                                <div class="card-header px-3">
                                    <p style="font-size: 16px" class="text-center my-auto">Aucun messages</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @foreach (var message in Model.Messages)
                {
                    Html.RenderPartial("_Message", message);
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
<script type="text/javascript">
    $('#avatar-upload').on('change', (e) => {
        const files = e.target.files;

        if (files.length > 0) {
            const data = new FormData();
            data.append("file", files[0]);

            $.ajax({
                url: "@Url.Action("EditAvatar", "User")",
                type: "POST",
                contentType: false,
                processData: false,
                data: data,
                cache: false,
                async: true,
                success: function (res) {
                    $('#avatar-image').attr('src', "/Content/Images/Users/" + res.image + "?timestamp=" + new Date().getTime());
                }
            });
        }
    });

    $(document).on('click', '.btn-follow', function() {
        const button = $(this);

        $.ajax({
            url: "@Url.Action("Follow", "User")",
            type: "POST",
            data: { username: "@Model.Username" },
            cache: false,
            success: () => {
                button.removeClass("btn-follow btn-outline-success");
                button.addClass("btn-unfollow btn-outline-danger");
                button.text('Ne plus suivre');

                $('#followers-count').text(parseInt($('#followers-count').text()) + 1);
            }
            });

        button.blur();
    });

    $(document).on('click', '.btn-unfollow', function() {
        const button = $(this);

        $.ajax({
            url: "@Url.Action("Unfollow", "User")",
            type: "POST",
            data: { username: "@Model.Username" },
            cache: false,
            success: () => {
                button.removeClass("btn-unfollow btn-outline-danger");
                button.addClass("btn-follow btn-outline-success");
                button.text('Suivre');

                $('#followers-count').text(parseInt($('#followers-count').text()) - 1);
            }
        });

        button.blur();
    });


    $('#message-image').on('change', (e) => {
        const files = e.target.files;

        if (files.length > 0) {
            $('#message-image-label').text(files[0].name);
        }
    });

    const form = $('#message-form');
    form.submit((e) => {
        e.preventDefault();
        var data = new FormData();
        data.append("message", $("#message-content").val());

        const files = $("#message-image")[0].files;
        if (files.length > 0) {
            data.append("file", files[0]);
        }

        $.ajax({
            url: form.attr('action'),
            method: form.attr('method'),
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            success: (message) => {
                $('textarea').val('');
                $('#message-image-label').text('Ajouter une image');
                $('#messages-count').text(parseInt($('#messages-count').text()) + 1);

                $('#messages').prepend(message);

                $(".message").first().hide();
                $(".message").first().animate({
                    height: "toggle"
                }, 300);
            }
        });

        return false;
    });

    $(document).on('click', '.btn-delete', function() {
        $.ajax({
            url: "@Url.Action("DeleteMessage", "User")",
            method: 'post',
            data: { id: $(this).attr('id') },
            success: () => {
                $(this).parents(".message").animate({
                    height: "toggle",
                    done: () => $(this).parents(".message").remove()
                }, 300);

                $('#messages-count').text(parseInt($('#messages-count').text()) - 1);
            }
        });
    });
</script>
}